<script type="x/template" id="vue-item-image-carousel">
    <div itemscope itemtype="http://schema.org/Thing">
        <div id="single-carousel" class="owl-carousel owl-theme owl-single-item" ref="single">
            <div v-for="image in singleImages">
                <a :href="image.url" data-lightbox="single-big-image-gallery">
                    <img class="owl-lazy" :data-src="image.url" :alt="getAltText(image)" :title="getItemName()" itemprop="image">
                </a>
            </div>
        </div>
        <div>
          <h4>Bilder</h4>
        </div>
        <div id="thumb-carousel" class="owl-thumbs owl-carousel owl-theme owl-single-item" ref="thumbs" v-if="carouselImages > 1">
            <img
                @click="goTo(index)"
                class="owl-thumb"
                v-bind:class="{ 'active': currentItem === index }"
                :src="imagePreview.url"
                :alt="getAltText(imagePreview)"
                :title="getItemName()"
                v-for="(imagePreview, index) in carouselImages"
            >
        </div>
        <h2>Videos</h2>

            <div class="youtubeVideo">
              <div class="videoWrapper1">
                <iframe v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 25" width="100%" height="100" :src="property.texts.value" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  <p v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 25">

                  </p>
              </div>
            </div>

    </div>
</script>
